.header_area {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #03c75a;
    color: #fff;
    z-index: 5000;

.place-header {
    display: flex;
    justify-content: space-between; //요소 분리//
    align-items: center; //주로 flex와 세트임//
    height: $place-header-height;
    
    .title {
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
    }
    .link-back {
        display:flex;
    }

    .my-orders {
        padding-right: $m-padding; //변수에 저장//
        font-size: 15px;
        font-weight: 700;
        }

    }

    .place-tab {
        display:flex;
        height: $place-tab-height;
        background-color: #03b753;
    }

    .tab-inner {
        display: -webkit-inline-box;
        width: 100%;
        padding: 8px;
        
        .tab{
            padding: 0 12px;
            text-align: center;
            opacity: 0.7;
            &.is-active{
                font-weight: 700;
                opacity: 1;
                .txt::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background-color: #fff;
                    top: 30px;
                }
            }

            .txt{
                position: relative;
                display: inline-block;
            }
        }

    }

    #span-fix{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

